@charset "utf8";

article.headline-link-icon {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-decoration: none;
	background: #505960;
}
article.headline-link-icon .header {
	padding: 0;
	width: 100%;
	height: 66.6%;
	overflow: hidden;
}
article.headline-link-icon .header a {
	color: #fff;
	text-decoration: none;
}
article.headline-link-icon .header h3 {
	font-weight: normal;
	font-size: 1.85em;
	line-height: 1.25em;
	margin: 0;
	padding: 50px 20px 0 20px;
}
article.headline-link-icon .header p {
	font-weight: normal;
	font-size: 1.15em;
	line-height: 1.14em;
	margin: 0;
	padding: 19px 20px 0 20px;
}
article.headline-link-icon .link {
	position: absolute;
	z-index: 10;
	left: 0;
	top: 33.3%;
	width: 100%;
	text-align: center;
}
article.headline-link-icon .link ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
article.headline-link-icon .link ul li {
	position: relative;
	padding: 15px 0 0 0;
	margin: 0 10px 10px 10px;
	text-align: center;
}
article.headline-link-icon .link ul li:before {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: ' ';
	border: 1px solid #73FFDA;
	transform: skewY(-6deg);
	-webkit-transform: skewY(-6deg);
	-moz-transform: skewY(-6deg);
	-ms-transform: skewY(-6deg);
	-o-transform: skewY(-6deg);
}
article.headline-link-icon .link ul li:after {
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	height: 100%;
	content: ' ';
	background: #FFFA9F;
	transition: transform 0.6s, width 0.6s;
	-webkit-transition: -webkit-transform 0.6s, width 0.6s;
	-moz-transition: -moz-transform 0.6s, width 0.6s;
	-ms-transition: -ms-transform 0.6s, width 0.6s;
	-o-transition: -o-transform 0.6s, width 0.6s;
	transform: translateY(10px) skewY(-6deg);
	-webkit-transform: translateY(10px) skewY(-6deg);
	-moz-transform: translateY(10px) skewY(-6deg);
	-ms-transform: translateY(10px) skewY(-6deg);
	-o-transform: translateY(10px) skewY(-6deg);
	width: 0;
}
article.headline-link-icon .link ul li:hover:after {
	transform: translateY(0) skewY(-6deg);
	-webkit-transform: translateY(0) skewY(-6deg);
	-moz-transform: translateY(0) skewY(-6deg);
	-ms-transform: translateY(0) skewY(-6deg);
	-o-transform: translateY(0) skewY(-6deg);
	width: 100%;
}
article.headline-link-icon .link ul li a {
	position: relative;
	z-index: 4;
	display: inline-block;
	text-decoration: none;
	color: #73FFDA;
	font-size: 1.15em;
	padding: 5px 20px 15px 20px;
	transition: color 0.3s linear 0.6s;
	-webkit-transition: color 0.3s linear 0.6s;
	-moz-transition: color 0.3s linear 0.6s;
	-ms-transition: color 0.3s linear 0.6s;
	-o-transition: color 0.3s linear 0.6s;
}
article.headline-link-icon .link ul li:hover a {
	color: #333;
}
article.headline-link-icon .featured {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 33%;
	overflow: hidden;
}
article.headline-link-icon .featured a {
	color: #fff;
	padding-top: 5%;
	padding-bottom: 5%;
	text-decoration: none;
}
article.headline-link-icon .featured .jfe-featured-align,
article.headline-link-icon .featured img {
	position: absolute;
	z-index: 1;
	transition: transform 0.8s;
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	-ms-transition: -ms-transform 0.8s;
	-o-transition: -o-transform 0.8s;
}
article.headline-link-icon.hover .featured .jfe-featured-align,
article.headline-link-icon.hover .featured img,
article.headline-link-icon:hover .featured .jfe-featured-align,
article.headline-link-icon:hover .featured img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
