@charset "utf8";

article.headline-link-icon {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-decoration: none;
}
article.headline-link-icon .header {
	padding: 0;
	width: 100%;
	height: 66.6%;
	overflow: hidden;
}
article.headline-link-icon .header a {
	text-decoration: none;
}
article.headline-link-icon .header h3 {
	font-weight: normal;
	font-size: 1.85em;
	line-height: 1.25em;
	margin: 0;
	padding: 50px 20px 0 20px;
}
article.headline-link-icon .header p {
	font-weight: normal;
	font-size: 1.15em;
	line-height: 1.14em;
	margin: 0;
	padding: 19px 20px 0 20px;
}
article.headline-link-icon .link {
	position: absolute;
	z-index: 10;
	left: 0;
	top: 33.3%;
	width: 100%;
	text-align: center;
}
article.headline-link-icon .link ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

article.headline-link-icon .featured {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 33%;
	overflow: hidden;
}
article.headline-link-icon .featured a {
	color: #fff;
	padding-top: 5%;
	padding-bottom: 5%;
	text-decoration: none;
}
article.headline-link-icon .featured .jfe-featured-align,
article.headline-link-icon .featured img {
	position: absolute;
	z-index: 1;
	transition: transform 0.8s;
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	-ms-transition: -ms-transform 0.8s;
	-o-transition: -o-transform 0.8s;
}
article.headline-link-icon.hover .featured .jfe-featured-align,
article.headline-link-icon.hover .featured img,
article.headline-link-icon:hover .featured .jfe-featured-align,
article.headline-link-icon:hover .featured img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
