.component .link ul>li::before {
	border-color: #3e454b;
}
.component .link ul>li a {
	color: #3e454b;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* top-cover */
article.topleft-head-link-right-featured-diagonal-bg .header {
	padding: 8% 10%;
	background: url('../../../resources/images/header-deco.png') no-repeat 50px 20px;
	background-size: 70%;
}
article.topleft-head-link-right-featured-diagonal-bg .header .description {
	font-size: 1.4em;
	line-height: 1.3em;
	color: #627478;
}
article.topleft-head-link-right-featured-diagonal-bg .header .subject {
	padding-top: 3%;
	font-size: 1.85em;
	line-height: 1.3em;
	padding-bottom: 5%;
}
article.topleft-head-link-right-featured-diagonal-bg .background {
	background: #fffa9f;
}
article.topleft-head-link-right-featured-diagonal-bg .background .tri-block.outer-before {
	border-bottom-color: #fffa9f;
}

/* introduce */
.section.about-intro {
	padding-top: 5%;
}
article.left-headline {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}
article.left-headline h2 {
	font-family: "Noto Sans CJK KR Black";
	font-size: 1.5em;
}
article.center-headline {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}
article.center-headline h2 {
	font-family: "Noto Sans CJK KR Black";
	font-size: 1.5em;
	text-align: center;
}

article.text {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5.7%;
	color: #3e454b;
	font-family: "Noto Sans CJK KR Thin";
	font-size: 1.1em;
	line-height: 1.55em;
	text-align: justify;
}
article.about-sub-menu {
	padding-top: 30px;
	padding-right: 15px;
}
article.about-sub-menu ul {
	display: block;
	padding: 0 5% !important;
}
article.about-sub-menu ul li {
	float: left;
	width: 45%;
	margin: 7px 5px 10px 5px !important;
}
article.about-sub-menu ul>li a {
	font-size: 0.85em !important;
	padding: 0 2px 10px 2px !important;
	font-family: "Noto Sans CJK KR Thin" !important;
}
article.about-sub-menu ul li.link2,
article.about-sub-menu ul li.link4 {
	transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-o-transform: translateY(-20px);
}

/* members */
.section.about-members {
	padding-top: 15%;
}
.section.about-members .col-md-6.column-item {
	padding-right: 0;
	padding-left: 0;
}
.section.about-members article.center-card {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}
.section.about-members article.center-card .header {
	padding-bottom: 40px;
}
.section.about-members article.center-card .header h3.subject {
	font-size: 1.75em;
}
.section.about-members article.center-card .gallery ul li img {
	width: 180px;
	height: 180px;
}
.section.about-members article.center-card .background {
	background: #fffa9f;
}
.section.about-members article.center-card .background .tri-block.top {
	border-bottom-color: #fffa9f;
}
.section.about-members article.riseup-diagonal-card-gallery {
	background: #3e454b;
	color: #fff;
	padding-bottom: 10%;
}
.section.about-members article.riseup-diagonal-card-gallery .tri-block.outer-before {
	border-left-color: #3e454b;
}
.section.about-members article.riseup-diagonal-card-gallery .header ul.url li a {
	color: #fff;
}
.section.about-members article.riseup-diagonal-card-gallery .tri-block.outer-after {
	border-top-color: #3e454b;
}
.section.about-members article.risedown-diagonal-card-gallery {
	background: #73ffda;
	color: #3e454b;
	padding-bottom: 0;
}
.section.about-members article.risedown-diagonal-card-gallery .tri-block.outer-before {
	border-bottom-color: #73ffda;
	z-index: 111;
}
.section.about-members article.risedown-diagonal-card-gallery .header ul.url li a {
	color: #3e454b;
}
.section.about-members article.risedown-diagonal-card-gallery .tri-block.outer-after {
	border-right-color: #73ffda;
}

.section.about-members article.riseup-diagonal-card-gallery,
.section.about-members article.risedown-diagonal-card-gallery {
	z-index: 10;
}
.section.about-members article.riseup-diagonal-card-gallery .header,
.section.about-members article.risedown-diagonal-card-gallery .header {
	padding: 5em 5em 5em 2em;
}
.section.about-members article.riseup-diagonal-card-gallery .header h3.subject,
.section.about-members article.risedown-diagonal-card-gallery .header h3.subject {
	font-size: 1.75em;
}
.section.about-members article.riseup-diagonal-card-gallery .header h4.subtitle,
.section.about-members article.risedown-diagonal-card-gallery .header h4.subtitle {
	font-size: 1.2em;
}
.section.about-members article.riseup-diagonal-card-gallery .header p.description,
.section.about-members article.risedown-diagonal-card-gallery .header p.description {
	font-size: 1.15em;
	height: 120px;
	margin: 58px 0 0 0;
}
.section.about-members article.riseup-diagonal-card-gallery .header ul.url li a,
.section.about-members article.risedown-diagonal-card-gallery .header ul.url li a {
	text-decoration: none;
	font-family: "Noto Sans CJK KR Thin";
	padding-left: 5px;
}
.section.about-members article.riseup-diagonal-card-gallery .gallery,
.section.about-members article.risedown-diagonal-card-gallery .gallery {
}
.section.about-members article.riseup-diagonal-card-gallery .gallery ul .featured-inner .tri-block.top-left {
	border-top-color: #3e454b;
}
.section.about-members article.riseup-diagonal-card-gallery .gallery ul .featured-inner .tri-block.bottom-right {
	border-bottom-color: #3e454b;
}
.section.about-members article.risedown-diagonal-card-gallery .gallery ul .featured-inner .tri-block.top-right {
	border-right-color: #73ffda;
}
.section.about-members article.risedown-diagonal-card-gallery .gallery ul .featured-inner .tri-block.bottom-left {
	border-left-color: #73ffda;
}
.section.about-members article.riseup-diagonal-card-gallery .sns a,
.section.about-members article.risedown-diagonal-card-gallery .sns a,
.section.about-members article.riseup-diagonal-card-gallery .meta,
.section.about-members article.risedown-diagonal-card-gallery .meta {
	color: #fffa9f;
}
article.risedown-diagonal-card-gallery .gallery ul>li.over-title .meta h5.name {
	font-size: 2em;
	line-height: 1em;
}
article.risedown-diagonal-card-gallery .gallery ul>li.over-title .meta p {
	font-family: "Noto Sans CJK KR Black";
	font-size: 1em;
	line-height: 1.2em;
}

/* map */
.section.about-map {
	padding-top: 15%;
	padding-bottom: 15%;
}
.section.about-map .content .inner-container {
	padding-left: 10%;
	padding-right: 10%;
}
.section.about-map .content .inner-container::before {
	display: none;
}
.section.about-map .content h2 {
	font-size: 1.5em;
	line-height: 1.0em;
	padding-bottom: 4%;
}
.section.about-map .content .address {
	font-family: "Noto Sans CJK KR Black";
	font-size: 1.3em;
	padding-bottom: 4%;
}
.section.about-map .content dl.public-transport {
}
.section.about-map .content dl.public-transport dt {
	position: relative;
	font-family: "Noto Sans CJK KR Black";
	font-size: 1.3em;
	margin-top: 2%;
	padding: 0 0 1% 30px;
}
.section.about-map .content dl.public-transport dt::before {
	position: absolute;
	left: 0;
	top: 0;
	font-family: "FontAwesome";
	content: "\f14e";
}
.section.about-map .content dl.public-transport dd {
	padding: 0 0 1% 40px;
	font-size: 1.3em;
	text-align: justify;
}
.section.about-map .content .map-link {
	padding-top: 10%;
	text-align: center;
}
.section.about-map .content .map-link .link ul li {
	display: inline-block;
	font-size: 1.3em;
}

/* relative org */
.section.about-relative-org {
	position: relative;
	padding-top: 10%;
	padding-bottom: 13%;
	background: #f7f7f5;
}
.section.about-relative-org .tri-block.outer-before {
	border-left-color: #f7f7f5;
}
.section.about-relative-org article.center-headline {
	padding-bottom: 10%;
}
.section.about-relative-org article.center-headline h2 {
	font-size: 1.5em;
}
.section.about-relative-org article.relative-org .left .wrapper ul.org {
	transform: skewY(6deg) translateY(-10%);
	-webkit-transform: skewY(6deg) translateY(-10%);
	-moz-transform: skewY(6deg) translateY(-10%);
	-ms-transform: skewY(6deg) translateY(-10%);
	-o-transform: skewY(6deg) translateY(-10%);
}
.section.about-relative-org article.relative-org .left .wrapper ul.org li {
	text-align: right;
	line-height: 1.8em;
}
.section.about-relative-org article.relative-org .right .wrapper ul.org {
	transform: skewY(6deg) translateY(0);
	-webkit-transform: skewY(6deg) translateY(0);
	-moz-transform: skewY(6deg) translateY(0);
	-ms-transform: skewY(6deg) translateY(0);
	-o-transform: skewY(6deg) translateY(0);
}
.section.about-relative-org article.relative-org .right .wrapper ul.org li {
	text-align: left;
}
.section.about-relative-org article.relative-org .wrapper ul.org li a {
	font-family: "Noto Sans CJK KR Black";
	font-size: 1.0em;
	color: #3e454b;
	text-decoration: none;
}
.section.about-relative-org article.relative-org .wrapper .label {
	font-size: 1.0em;
	color: #3e454b;
}

.app-about-history #site-main-container,
.app-about-purpose #site-main-container,
.app-about-articles #site-main-container,
.app-about-meeting #site-main-container,
.app-about-board #site-main-container {
	padding-bottom: 5%;
}

/* history */
.about-history-content .year-calendar {
	padding-top: 5%;
	padding-bottom: 5%;
}
.about-history-content .year-calendar h3 {
	font-family: "Noto Sans CJK KR Black";
	font-size: 1.8em;
	margin-bottom: 15px;
}
ul.year-calendar-container li.year-calendar-article {
	font-family: "Noto Sans CJK KR Black";
	font-size: 2.2em;
}
ul.year-calendar-container li.year-calendar-article .year-calendar-article-content {
	border: 1px solid #fff;
}
ul.year-calendar-container li.year-calendar-article.odd .year-calendar-article-content {
	background: #fff;
}
ul.year-calendar-container li.year-calendar-article.odd .year-calendar-article-content a {
	color: #73ffda;
}
ul.year-calendar-container li.year-calendar-article.even .year-calendar-article-content {
	background: #3e454b;
}
ul.year-calendar-container li.year-calendar-article.even .year-calendar-article-content a {
	color: #fffa9f;
}

/* 총회 */
ul.article-gallery-container li.article-gallery-article .article-gallery-article-content {
	font-family: "Noto Sans CJK KR Thin";
}
ul.article-gallery-container li.article-gallery-article .article-gallery-article-content h4 {
	font-family: "Noto Sans CJK KR Black";
	font-size: 2.2em;
}
ul.article-gallery-container li.article-gallery-article .article-gallery-article-content .alternative {
	margin-top: 35px !important;
	margin-bottom: 20px !important;
}
ul.article-gallery-container li.article-gallery-article.odd .article-gallery-article-content {
	background: #fff;
	color: #3e454b;
}
ul.article-gallery-container li.article-gallery-article.odd .article-gallery-article-content h4 {
	color: #73ffda;
}
ul.article-gallery-container li.article-gallery-article.even .article-gallery-article-content {
	background: #3e454b;
	color: #fff;
}
ul.article-gallery-container li.article-gallery-article.even .article-gallery-article-content h4 {
	color: #fffa9f;
}
ul.article-gallery-container li.article-gallery-article.even .article-gallery-article-content .link ul>li::before {
	border-color: #fff;
}
ul.article-gallery-container li.article-gallery-article.even .article-gallery-article-content .link ul>li a {
	color: #fff;
}

/* 정관 */
ul.articles-history {
	list-style: none;
	margin-bottom: 15px;
	padding: 15px;
	border: 1px solid #3e454b;
	border-radius: 5px;
}
ul.sub-articles {
	list-style: none;
	padding-left: 30px;
	text-indent: -17px;
}

/* 임원들 */
.dl-component.diagonal {
	position: relative;
	z-index: 1;
	padding-top: 70px;
	padding-bottom: 20px;
	margin-bottom: 15px;
}
.dl-component.diagonal::before,
.dl-component.diagonal::after {
	position: absolute;
	z-index: 2;
	width: 100%;
	border-bottom: 1px solid #fffa9f;
	content: ' ';
	transform: skewY(-6deg);
	-webkit-transform: skewY(-6deg);
	-moz-transform: skewY(-6deg);
	-ms-transform: skewY(-6deg);
	-o-transform: skewY(-6deg);
}
.dl-component.diagonal::before {
	left: 0;
	top: 0;
}
.dl-component.diagonal::after {
	left: 0;
	bottom: 0;
}
.dl-component .dl-component-content dt {
	font-family: "Noto Sans CJK KR Black";
	font-size: 1.5em;
	width: 80px !important;
	text-align: right;
}
.dl-component .dl-component-content dd {
	font-family: "Noto Sans CJK KR Thin";
	font-size: 1.2em;
}

/* overlay-link */
.overlay-content .overlay-content-box {
	line-height: 1.6em;
	max-width: 638px;
	margin: 0 auto;
}
.overlay-content .overlay-content-box h3 {
	font-family: "Noto Sans CJK KR Black";
	font-size: 2.1em;
	margin-bottom: 50px;
}
.overlay-content .overlay-content-box h4 {
	font-family: "Noto Sans CJK KR Black";
	font-size: 1.2em;
	padding-top: 30px;
	margin-bottom: 20px;
}
.overlay-content .overlay-content-box p {
	font-family: "Noto Sans CJK KR Thin";
	margin-bottom: 20px;
}
.overlay-content .close-box {
	margin-top: 15px;
	text-align: center;
}
.overlay-content .year-calendar h3 {
	color: #fff;
}
.overlay-content dl.board dt {
	color: #fff;
}

@media (min-width: 480px) {
	.section.about-relative-org article.relative-org .wrapper ul.org li a {
		font-size: 1.3em;
	}
	.section.about-relative-org article.relative-org .wrapper .label {
		font-size: 1.3em;
	}
	article.about-sub-menu ul {
		padding: 0 10% !important;
	}
	article.about-sub-menu ul li {
		margin: 7px 10px 10px 10px;
	}
	article.about-sub-menu ul>li a {
		font-size: 1.0em !important;
		padding: 0 15px 10px 15px !important;
		font-family: "Noto Sans CJK KR Black" !important;
	}
	.section.about-map .content .map-link .link ul li.link2 {
		transform: translateY(-30%);
		-webkit-transform: translateY(-30%);
		-moz-transform: translateY(-30%);
		-ms-transform: translateY(-30%);
		-o-transform: translateY(-30%);
	}
}
@media (min-width: 640px) {
	.section.about-map .content .map-link .link ul>li a {
		padding: 5px 40px 15px 40px;
	}
	.section.about-map .content .map-link .link ul li.link2 {
		transform: translateY(-20%);
		-webkit-transform: translateY(-20%);
		-moz-transform: translateY(-20%);
		-ms-transform: translateY(-20%);
		-o-transform: translateY(-20%);
	}
}
@media (min-width: 768px) {
	article.topleft-head-link-right-featured-diagonal-bg .header {
		padding: 2% 4%;
		background-size: auto;
	}
	.section.about-intro article.text {
		padding-left: 0;
		padding-right: 0;
	}
	article.about-sub-menu {
		text-align: right;
		padding-top: 0;
	}
	article.about-sub-menu ul {
		display: inline-block;
	}
	article.about-sub-menu ul li {
		float: none;
		width: auto;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	article.about-sub-menu ul li.link2,
	article.about-sub-menu ul li.link4 {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}
	.section.about-members article.center-card {
		padding-bottom: 0;
	}
	.section.about-members article.center-card .gallery ul li img {
		width: 280px;
		height: 280px;
	}
	.section.about-members article.riseup-diagonal-card-gallery {
		padding-bottom: 0;
	}
	.section.about-map .featured,
	.section.about-map .content {
		width: 50%;
	}
	.section.about-map .content .inner-container {
		padding-left: 20%;
	}
	.section.about-map .content .inner-container h2 {
		font-size: 2.3em;
		margin-bottom: 40px;
	}
	.section.about-map .content .inner-container p.address {
		font-size: 1.5em;
	}
	.section.about-map .content .map-link {
		padding-top: 60px;
	}
	.section.about-map .content .map-link .link ul {
		padding: 0;
	}
	.section.about-map .content .map-link .link ul>li {
		margin: 2px 5px;
	}
	.section.about-map .content .map-link .link ul>li.link2 {
	}
	.section.about-map .content .map-link .link ul>li a {
		font-size: 0.8em;
		padding: 5px 20px 15px 20px;
	}
	.section.about-relative-org article.relative-org .center p {
		font-family: "Noto Sans CJK KR Black";
		font-size: 1.3em;
	}
	.section.about-relative-org article.relative-org .center p.icon {
		padding-bottom: 11px;
	}
	.section.about-relative-org article.relative-org .center p i {
		font-size: 2.5em;
	}
	article.left-headline h2,
	.section.about-relative-org article.center-headline h2 {
		font-size: 2.0em;
	}

	article.risedown-diagonal-card-gallery .gallery ul>li.over-title .meta {
		top: 10%;
		margin-top: 0;
	}
	article.risedown-diagonal-card-gallery .gallery ul>li.over-title .meta h5.name {
		font-size: 3.5em;
	}
	article.risedown-diagonal-card-gallery .gallery ul>li.over-title .meta p {
		font-size: 1.0em;
	}
}
@media (min-width: 960px) {
	article.risedown-diagonal-card-gallery .gallery ul>li.over-title .meta {
		top: 50%;
		margin-top: -40%;
	}
	article.risedown-diagonal-card-gallery .gallery ul>li.over-title .meta h5.name {
		font-size: 4.8em;
	}
	article.risedown-diagonal-card-gallery .gallery ul>li.over-title .meta p {
		font-size: 1.25em;
	}
	.section.about-relative-org article.relative-org .center p {
		font-size: 2.1em;
	}
	.section.about-relative-org article.relative-org .center p i {
		font-size: 3.7em;
	}
	.section.about-members article.riseup-diagonal-card-gallery .header,
	.section.about-members article.risedown-diagonal-card-gallery .header {
		padding: 5em 10em 5em 2em;
	}
}
@media (min-width: 1024px) {
	article.left-headline h2,
	.section.about-map article.center-headline h2 ,
	.section.about-relative-org article.center-headline h2 {
		font-size: 2.7em;
	}
	article.topleft-head-link-right-featured-diagonal-bg .header {
		padding: 30px 56px;
	}
	article.topleft-head-link-right-featured-diagonal-bg .header .subject {
		font-size: 3.2em;
		line-height: 1.1em;
	}
	article.risedown-diagonal-card-gallery .gallery ul>li.over-title .meta {
		margin-top: -30%;
	}
	.section.about-map .content .map-link .link ul>li a {
		padding: 5px 40px 15px 40px;
	}
}
@media (min-width: 1280px) {
	article.topleft-head-link-right-featured-diagonal-bg .header .description {
		font-size: 2.4em;
	}
	article.topleft-head-link-right-featured-diagonal-bg .header .subject {
		font-size: 4.2em;
	}
	article.about-sub-menu {
		padding-right: 0;
	}
	.section.about-map .content .map-link .link ul li.link2 {
		transform: translateY(-30%);
		-webkit-transform: translateY(-30%);
		-moz-transform: translateY(-30%);
		-ms-transform: translateY(-30%);
		-o-transform: translateY(-30%);
	}
	.section.about-map .content .map-link .link ul>li a {
		padding: 5px 50px 15px 50px;
	}
}
