@charset "utf-8";

html, body {
	margin: 0;
	padding: 0;
}

.noScroll {
	overflow-y: hidden;
}

header#site-header {
	width: 100%;
	height: 20px;
	background: #C0C0C0;
	color: #fff;
	text-align: right;
}
.app-front header#site-header {
	position: absolute;
	z-index: 9999999;
	left: 0;
	top: 0;
	background: none;
}
header#site-header.fixed {
	position: fixed;
	z-index: 9999999;
	left: 0;
	top: 0;
	height: 49px;
	color: #58595B;
	background: #fff;
	border-bottom: 1px solid #C9CACC;
	box-shadow: 0 2px 2px #C9CACC;
	transition: top 0.6s linear, opacity 0.6s linear;
	-webkit-transition: top 0.6s linear, opacity 0.6s linear;
	-moz-transition: top 0.6s linear, opacity 0.6s linear;
	-ms-transition: top 0.6s linear, opacity 0.6s linear;
	-o-transition: top 0.6s linear, opacity 0.6s linear;
	opacity: 0.95;
	-webkit-opacity: 0.95;
	-moz-opacity: 0.95;
	-ms-opacity: 0.95;
	-o-opacity: 0.95;
}
header#site-header.fixed.slideDown {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
}
header#site-header.fixed.slideUp {
	top: -42px;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
}
header#site-header div.logo {
	float: left;
}
header#site-header div.logo a {
	font-size: 0.8em;
	color: #fff;
	text-decoration: none;
}
header#site-header.fixed div.logo a {
	display: inline-block;
	padding: 4px 0 0 4px;
	font-size: 2.1em;
	color: #58595B;
}
header#site-header div.logo a:before {
	font-family: "jfont";
	content: "\e624";
}
header#site-header div.logo a span {
	display: none;
}
header#site-header ul.quickLink,
header#site-header ul.menuLink {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
header#site-header.fixed ul.quickLink {
	display: none;
}
header#site-header ul.quickLink li,
header#site-header ul.menuLink li {
	display: inline-block;
	margin-right: 4px;
	vertical-align: middle;
}
header#site-header ul.quickLink li a,
header#site-header ul.menuLink li a {
	font-size: 0.8em;
	color: #fff;
	line-height: 1.0em;
	text-decoration: none;
}
header#site-header.fixed ul.menuLink li a {
	display: inline-block;
	padding: 18px 0 0 0;
	color: #58595B;
}
header#site-header ul.menuLink li.menu {
	margin-left: 10px;
	margin-right: 12px;
}
header#site-header ul.menuLink li.menu a:before {
	font-family: 'FontAwesome';
	content: "\f0c9";
	font-size: 1.5em;
}
header#site-header.fixed ul.menuLink li.menu a:before {
	font-size: 3.0em;
}
header#site-header ul.menuLink li.menu a span {
	display: none;
}
#site-navigation {
	position: fixed;
	z-index: 9999999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: height 0.6s;
	-webkit-transition: height 0.6s;
	-moz-transition: height 0.6s;
	-ms-transition: height 0.6s;
	-o-transition: height 0.6s;
	background: #F8F9F9;
	overflow: hidden;
}
#site-navigation.collapsed {
	height: 0;
}
#site-navigation.overflow {
	overflow-y: auto;
}
#site-navigation .navi-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}
#site-navigation .navi-wrap .close {
	position: absolute;
	z-index: 99999999;
	top: 18px;
	right: 18px;
	border: 0;
	background: #fff;
	color: #000; 
	cursor: pointer;
}   
#site-navigation .navi-wrap .close:hover {
	color: #45C0AE;
}
#site-navigation .navi-wrap .close:before {
	font-family: "FontAwesome";
	content: "\f00d";
	font-size: 1.5em;
}   
#site-navigation .navi-wrap .close span {
	display: none;
} 

#site-main-container {
	width: 100%;
}
