#site-header, #site-footer {
	display: none;
}

/* 아래는 모두 편집기에 관한 것 */
#edit-region {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 10px solid #888888;
}
#edit-region #toolbar-wrap {
	position: fixed;
	z-index: 1000;
	top: 0px;
	width: inherit;
	height: 50px;
}
#edit-region #toolbar {
	position: relative;
	left: -10px;
	height: inherit;
	background-color: #eeeeee;
}
#edit-region #main-region {
}
#edit-region .section-region {
	position: relative;
	margin-bottom: 20px;
	padding: 10px;
	min-height: 200px;
}
#edit-region .left-side {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	border: 5px solid #000000;
}
#edit-region .container-wrap {
	margin: 0 0 0 200px;
}
#edit-region .item {
	border: 1px dotted #888888;
	height: 100%;
	background: transparent;
	cursor: pointer;
}
#edit-region .con-bp-xs > .item, 
#edit-region .con-bp-sm > .item, 
#edit-region .con-bp-md > .item, 
#edit-region .con-bp-lg > .item {
	height: 30px;
}

#edit-region .level-mark {
	position: absolute;
	z-index: 100;
	border: 10px solid #ffcc00;
	opacity: 0.5;
}
#edit-region .level-mark:hover {
	background-color: #ffcc00;
}
#edit-region .level-mark.cur-level-mark {
	z-index: 201;
	background-color: #d4bb55;
	border-color: #d4bb55;
}
#edit-region .level-mark.fake-level-mark {
	border-color: #aaaaaa;
}
#edit-region .nwse-cursor {
	cursor: nwse-resize;
}
#edit-region .ew-cursor {
	cursor: ew-resize;
}
#edit-region .ns-cursor {
	cursor: ns-resize;
}
#edit-region .level-mark.selected {
	background-color: #aaaaaa;
}
#edit-region .level-mark.selected.cur-level-mark {
	background-color: #d4bb55;
	border-color: #d4bb55;
}
#edit-region .level-mark.selected:hover {
	background-color: #d4bb55;
}
#edit-region .divmenu {
	position: absolute;
	z-index: 200;
	width: 100px;
	padding: 10px;
	background-color: #aaaaaa;
	opacity: 0.7;
}
#edit-region .divmenu:after {
	content: '';
	display: block;
	clear: both;
}
#edit-region .divmenu.disabled {
	z-index: -99999;
	opacity: 0.4
}
/*
#edit-region .divmenu input[name="display-level"] {
	display: block;
	width: 50px;
	border: 0px;
	margin: 0 auto;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}
*/
#edit-region .divmenu .division-menu {
	float: left;
	width: 38px;
}
#edit-region .divmenu .level-move-menu {
	float: right;
	width: 38px;
}
#edit-region .divmenu input[type="button"] {
	display: block;
	width: 38px;
	height: 38px;
	border: 0;
	background-color: #ccbb99;
	margin-top: 4px;
}
#edit-region .divmenu input[type="button"]:disabled {
	border: 1px solid #ccbb99;
	background-color: transparent;
}
#edit-region .divmenu input[name="disabled"] {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 10px;
	height: 10px;
	padding: 0px;
	margin-top: 0px;
}
#edit-region .divmenu input[name="level-button"] {
	display: inline-block;
	width: 23.3333px;
	height: 23.3333px;
	margin: 0 5px 0 0;
	padding: 0;
}
#edit-region .divmenu input[name="level-button"]:nth-child(3n) {
	margin-right: 0;
}
#edit-region .divmenu input[name="level-button"]:nth-child(n+4) {
	margin-top: 5px;
}
#edit-region .w-ruler {
	position: absolute;
	height: 10px;
	background-color: #ccbb99;
	opacity: 0.7;
	z-index: 210;
}
#edit-region .w-ruler-mark {
	float: left;
	height: 10px;
	border-right: 1px solid #7f7f7f;	
}
#edit-region .h-ruler {
	position: absolute;
	width: 10px;
	background-color: #ccbb99;
	opacity: 0.7;
	z-index: 210;
}
#edit-region .h-ruler-mark {
	width: 10px;
	border-bottom: 1px solid #7f7f7f;
}
#edit-region #add-section-wrap {
	margin-left: auto;
	margin-right: auto;
}
#edit-region input[name="add-section"] {
	width: 100%;
	height: 30px;
	border: 0;
	background-color: #ccbb99;
}

