.app-join #join-section2 {
	margin-top: 40px;
	margin-bottom: 163px;
}

.app-join #join-section2 .row {
  margin-left: 0px;
  margin-right: 0px;
}
.app-join #join-section2 .row [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.app-join #join-section2 .component {
  display: block;
  height: 100%;
}
.app-join {
	color: #3e454b;
}
.app-join .hidden {
	display: none;
}
.app-join .font-black {
	font-family: "Noto Sans CJK KR Black";
}
.app-join .focused {
	color: #73ffda !important;
	border-color: #73ffda !important;
}
.app-join div.title {
	height: 30px;
}
.app-join h3.head {
	display: inline;
	font-size: 1.5em;
}
.app-join p.comment {
	display: inline-block;
}
.app-join span.error-message {
	margin-left: 5px;
	color: #5cccae;
}
.app-join input[type="text"],
.app-join input[type="password"],
.app-join textarea {
	border-color: #3e454b;
	outline: none;
	width: 100%;
	height: 46px;
	font-size: 1.5em;
	border: 2px solid;
	padding-left: 5px;
}
.app-join input[type="text"],
.app-join input[type="password"] {
	line-height: 46px;
}
.app-join textarea {
	padding: 6px 5px 6px 5px;
	resize: none;
	overflow: hidden;
	vertical-align: top;
}
.app-join .input-with-placeholder span.placeholder {
	font-size: 1.5em;
	line-height: 46px;
	padding-left: 5px;
}
.app-join div.content {
	margin-top: 5px;
}

@media (min-width: 320px) {
	.app-join #join-section2 {
		font-size: 0.9em;
		margin-left: 5px;
		margin-right: 5px;
	}
	.app-join #join-section2 article {
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
	}
	.app-join #join-section3 {
		font-size: 0.9em;
	}
}
@media (min-width: 768px) {
	.app-join #join-section2 {
		font-size: 1em;
		margin-left: 10px;
		margin-right: 10px;
	}
	.app-join #join-section2 article {
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 40px;
	}
	.app-join #join-section3 {
		font-size: 1em;
	}
}
