#site-header, #site-footer {
	display: none;
}

/* 아래는 모두 편집기에 관한 것 */
#edit-region {
	margin: 50px auto 0px auto;
	border: 1px solid #aaaaaa;
}
#edit-region label {
	font-weight: normal;
	margin: 0;
}
#edit-region input[type="button"] {
	width: 38px;
	height: 38px;
	border: 1px solid #ccbb99;
	background-color: #ccbb99;
	padding: 0;
}
#edit-region input[type="button"]:disabled {
	background-color: transparent;
}
#edit-region .radio-button {
	display: inline-table;
	width: 38px;
	height: 38px;
}
#edit-region .radio-button input[type="radio"] {
	display: none;
}
#edit-region .radio-button input[type="radio"] + label {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ccbb99;
	cursor: pointer;
}
#edit-region input[type="radio"]:checked + label {
	background-color: #ccbb99;
}
#edit-region input[type="checkbox"] {
	width: 20px;
	height: 20px;
}
#edit-region input[type="button"].close-button {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: transparent;
	line-height: 20px; 
}
#edit-region input[type="text"] {
	padding-left: 5px;
	height: 26px;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
}
#edit-region #toolbar-wrap {
	position: fixed;
	z-index: 1000;
	top: 0px;
}
#edit-region #toolbar {
	position: relative;
	left: -1px;
	height: 50px;
	background-color: #eeeeee;
	padding: 5.5px;
}
#edit-region #toolbar .radio-button {
	vertical-align: top;
	margin-right: 5.5px;
}
#edit-region #toolbar input[name="preview"] {
	width: auto;
	padding: 5px;
}
#edit-region .section-region {
	position: relative;
	margin-bottom: 20px;
	padding: 10px;
}
#edit-region .left-side {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100px;
	min-height: 200px;
}
#edit-region .left-side input[name="sec-config"] {
	width: 80px;
}
#edit-region .preset-container {
	position: relative;
	margin-top: 10px;
	width: 80px;
	height: 60px;
	cursor: pointer;
}
#edit-region [class*="preset-bp-"] > .row {
	border: 2px solid #888888;
	border-right: 0;
	border-bottom: 0;
	opacity: 0.7;
}
#edit-region .preset-container .item {
	border: 2px solid #888888;
	border-top: 0;
	border-left: 0;
	height: 100%;
	background-color: #ffffff;
}
#edit-region [class*="preset-bp-"] {
	position: absolute;
	z-index: 220;
	width: inherit;
	height: inherit;
}
#edit-region .preset-bp-lg {
	left: 0;
}
#edit-region .preset-bp-md {
	left: 90px;
}
#edit-region .preset-bp-sm {
	left: 180px;
}
#edit-region .preset-bp-xs {
	left: 270px;
}
#edit-region .preset-bp-xxs {
	left: 360px;
}
#edit-region .container-wrap {
	margin: 0 0 0 130px;
	min-height: 200px;
}
#edit-region .container-wrap .item {
	border: 1px dotted #888888;
	height: 100%;
	min-height: 30px;
	background: transparent;
	cursor: pointer;
}
#edit-region .level-mark {
	position: absolute;
	z-index: 100;
	border: 10px solid #ffcc00;
	opacity: 0.5;
}
#edit-region .level-mark:hover {
	background-color: #ffcc00;
}
#edit-region .level-mark.cur-level-mark {
	z-index: 201;
	background-color: #d4bb55;
	border-color: #d4bb55;
}
#edit-region .level-mark.fake-level-mark {
	border-color: #aaaaaa;
}
#edit-region .nwse-cursor {
	cursor: nwse-resize;
}
#edit-region .ew-cursor {
	cursor: ew-resize;
}
#edit-region .ns-cursor {
	cursor: ns-resize;
}
#edit-region .level-mark.selected {
	background-color: #cccccc;
}
#edit-region .level-mark.selected.cur-level-mark {
	background-color: #d4bb55;
	border-color: #d4bb55;
}
#edit-region .level-mark.selected:hover {
	background-color: #d4bb55;
}
#edit-region .level-mark .div-type {
	margin-left: 5px;
}
#edit-region .divmenu {
	position: absolute;
	z-index: 200;
	width: 100px;
	padding: 10px;
	background-color: #aaaaaa;
	opacity: 0.7;
}
#edit-region .divmenu.disabled {
	z-index: -99999;
	opacity: 0.4
}
#edit-region .divmenu .division-menu {
	float: left;
	width: 38px;
}
#edit-region .divmenu .level-move-menu {
	margin-left: 42px;
}
#edit-region .divmenu input[type="button"] {
	display: block;
	margin-top: 4px;
}
#edit-region .divmenu input[name="disabled"] {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 10px;
	height: 10px;
	padding: 0px;
	margin-top: 0px;
}
#edit-region .divmenu input[name="level-button"] {
	display: inline-block;
	width: 23.3333px;
	height: 23.3333px;
	margin: 0 5px 0 0;
	padding: 0;
}
#edit-region .divmenu input[name="level-button"]:nth-child(3n) {
	margin-right: 0;
}
#edit-region .divmenu input[name="level-button"]:nth-child(n+4) {
	margin-top: 5px;
}
#edit-region .divmenu input[name="config"] {
	display: block;
	width: 80px;
	height: 20px;
	margin-top: 5px;
	clear: both;
}
#edit-region .config-wrap {
	z-index: 1100;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.85;
}
#edit-region .config {
	position: relative;
	margin: 10% auto;
	width: 650px;
	padding: 20px;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: #ffffff;
}
#edit-region .config label {
	float: left;
}
#edit-region .config-item {
	margin-top: 5px;
}
#edit-region .config-content {
	margin-left: 50px;
}
#edit-region .config-row {
	position: relative;
	margin-bottom: 5px;
}
#edit-region .config-row:last-child {
	margin-bottom: 0px;
}
#edit-region .config input[type="text"] {
	width: 100%;
}
#edit-region .config #config-description,
#edit-region .config #config-max-width {
	margin-left: 80px;
}
#edit-region .config input[name="use-data-height"] {
	margin: 0 10px 0 0;
}
#edit-region .config input[name="use-data-height"] + label {
	float: none;
	vertical-align: top;
}
#edit-region #config-attr .input-text-wrap {
	margin-right: 20px;
}
#edit-region .config input[name="attr-obj-butn"] {
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 26px;
}
#edit-region .conf-readonly {
	background-color: #f0f0f0;
}
#edit-region .ext-value {
	display: none;
}
#edit-region .ext-input-wrap {
	z-index: 1110;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.95;
}
#edit-region .ext-input {
	position: relative;
	top: 100px;
	left: 100px;
	margin: 10% auto;
	width: 650px;
	padding: 20px;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: #ffffff;
}
#edit-region .ext-input textarea {
	width: 100%;
	resize: vertical;
	word-wrap: normal;
	overflow-x: scroll;
	height: 300px;
	margin-top: 5px;
}
#edit-region .w-ruler {
	position: absolute;
	height: 10px;
	background-color: #ccbb99;
	opacity: 0.7;
	z-index: 210;
}
#edit-region .w-ruler-mark {
	float: left;
	height: 10px;
	border-right: 1px solid #7f7f7f;	
}
#edit-region .h-ruler {
	position: absolute;
	width: 10px;
	background-color: #ccbb99;
	opacity: 0.7;
	z-index: 210;
}
#edit-region .h-ruler-mark {
	width: 10px;
	border-bottom: 1px solid #7f7f7f;
}
#edit-region #add-section-wrap {
	margin-left: auto;
	margin-right: auto;
}
#edit-region input[name="add-section"] {
	width: 100%;
}
