@charset "utf-8";

.animateheader-container {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 100%;
}
.animateheader-container .animateheader-wrap {
	position: absolute;
	z-index: 2;
}

#large-header {
	position: relative;
	z-index: 1;
	background: #BFBFBF;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
#large-header #header-canvas {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 100%;
}
#large-header h1 {
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 292px;;
	font-size: 4.0em;
	line-height: 0.8em;
	width: 427px;
	height: 107px;
	color: #fff;
	margin: 0;
	padding: 0;
	opacity: 0;
}
#large-header h1.show {
	opacity: 1;
}
#large-header h1 img {
	width: 100%;
	height: 100%;
}
#large-header h1 #jinbonet-slogan {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 47.6%;
}
#large-header h1 #jinbonet-slogan .slogan {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 60.8%;
	transition: opacity 0.5s linear 1.0s, transform 0.5s (0.625, 0.005, 0.080, 1) 1.0s;
	transition: opacity 0.5s linear 1.0s, transform 0.5s cubic-bezier(0.625, 0.005, 0.080, 1.650) 1.0s;
	-webkit-transition: opacity 0.5s linear 1.0s, -webkit-transform 0.5s cubic-bezier(0.625, 0.005, 0.080, 1.650) 1.0s;
	-moz-transition: opacity 0.5s linear 1.0s, -moz-transform 0.5s cubic-bezier(0.625, 0.005, 0.080, 1.650) 1.0s;
	-ms-transition: opacity 0.5s linear 1.0s, -ms-transform 0.5s cubic-bezier(0.625, 0.005, 0.080, 1.650) 1.0s;
	-o-transition: opacity 0.5s linear 1.0s, -o-transform 0.5s cubic-bezier(0.625, 0.005, 0.080, 1.650) 1.0s;
	transform: translateY(180%);
	-webkit-transform: translateY(180%);
	-moz-transform: translateY(180%);
	-ms-transform: translateY(180%);
	-o-transform: translateY(180%);
	opacity: 0;
	background: url('../../../../resources/images/jinbonet-title.png') no-repeat left top;
}
#large-header h1 #jinbonet-slogan .slogan.flip {
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	opacity: 1;
}
#large-header h1 #jinbonet-title {
	*zoom: 1;
}
#large-header h1 #jinbonet-title:after {
	clear: both;
	content: ' ';
	display: block;
}
#large-header h1 #jinbonet-title div.letter {
	float: left;
	height: 56px;
	position: relative;
	perspective: 200px;
	-webkit-perspective: 200px;
	-moz-perspective: 200px;
	-ms-perspective: 200px;
	-o-perspective: 200px;
	transition: transform 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);;
	-moz-transition: -moz-transform 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);;
	-ms-transition: -ms-transform 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);;
	-o-transition: -o-transform 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);;
	transform: rotateY(-90deg);
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
}
#large-header h1 #jinbonet-title div.letter.flip {
	transform: rotateY(0);
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
	-ms-transform: rotateY(0);
	-o-transform: rotateY(0);
}
#large-header h1 #jinbonet-title div.letter span.black {
	display: block;
	height: 100%;
}
#large-header h1 #jinbonet-title div.letter1 {
	width: 54px;
}
#large-header h1 #jinbonet-title div.letter1 span.black {
	width: 48px;
	background: url('../../../../resources/images/jinbonet-title.png') no-repeat 0 -51px;
}
#large-header h1 #jinbonet-title div.letter2 {
	width: 56px;
	transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
}
#large-header h1 #jinbonet-title div.letter2 span.black {
	width: 51px;
	background: url('../../../../resources/images/jinbonet-title.png') no-repeat -54px -51px;
}
#large-header h1 #jinbonet-title div.letter3 {
	width: 53px;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
}
#large-header h1 #jinbonet-title div.letter3 span.black {
	width: 47px;
	background: url('../../../../resources/images/jinbonet-title.png') no-repeat -110px -51px;
}
#large-header h1 #jinbonet-title div.letter4 {
	width: 54px;
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
}
#large-header h1 #jinbonet-title div.letter4 span.black {
	width: 50px;
	background: url('../../../../resources/images/jinbonet-title.png') no-repeat -163px -51px;
}
#large-header h1 #jinbonet-title div.letter5 {
	width: 54px;
	transition-delay: 0.4s;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
}
#large-header h1 #jinbonet-title div.letter5 span.black {
	width: 48px;
	background: url('../../../../resources/images/jinbonet-title.png') no-repeat -217px -51px;
}
#large-header h1 #jinbonet-title div.letter6 {
	width: 53px;
	transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
}
#large-header h1 #jinbonet-title div.letter6 span.black {
	width: 51px;
	background: url('../../../../resources/images/jinbonet-title.png') no-repeat -271px -51px;
}
#large-header h1 #jinbonet-title div.letter7 {
	width: 58px;
	transition-delay: 0.6s;
	-webkit-transition-delay: 0.6s;
	-moz-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
}
#large-header h1 #jinbonet-title div.letter7 span.black {
	width: 51px;
	background: url('../../../../resources/images/jinbonet-title.png') no-repeat -324px -51px;
}
#large-header h1 #jinbonet-title div.letter8 {
	width: 45px;
	transition-delay: 0.7s;
	-webkit-transition-delay: 0.7s;
	-moz-transition-delay: 0.7s;
	-ms-transition-delay: 0.7s;
	-o-transition-delay: 0.7s;
}
#large-header h1 #jinbonet-title div.letter8 span.black {
	width: 45px;
	background: url('../../../../resources/images/jinbonet-title.png') no-repeat -382px -51px;
}
#large-header .animate-header-background-video {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	opacity: 1;
	display: none;
	transition: opacity 0.8s;
	-webkit-transition: opacity 0.8s;
	-moz-transition: opacity 0.8s;
	-ms-transition: opacity 0.8s;
	-o-transition: opacity 0.8s;
	width: 100%;
	height: 100%;
}
#large-header .animate-header-background-video.display {
	display: block;
}
#large-header .animate-header-background-video.hidden {
	opacity: 0;
}
#large-header img.animate-header-background-image {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#large-header img.animate-header-background-image.hidden {
	display: none;
}

#large-header .loading {
	position: absolute;
	z-index: 10000;
	left: 50%;
	top: 50%;
	animation: fa-spin 2s infinite linear;
	-webkit-animation: fa-spin 2s infinite linear;
	-moz-animation: fa-spin 2s infinite linear;
	-ms-animation: fa-spin 2s infinite linear;
	-o-animation: fa-spin 2s infinite linear;
	width: 1.28571429em;
	font-size: 3em;
	text-align: center;
	color: #fff;
	display: none;
}
#large-header .loading.show {
	display: block;
}
#large-header .loading span {
	display: none;
}
#large-header .loading:before {
	font-family: 'FontAwesome';
	content: "\f1ce";
}
