.inputset-complete {
	margin-left: 10px;
	margin-right: 10px;
}
.inputset-complete .content p {
	font-size: 1.3em;
	margin-top: 5px;
}
.inputset-complete .content p:first-of-type {
	margin-top: 10px;
}
.inputset-complete .content p:last-of-type {
	margin-bottom: 20px;
}
.inputset-complete .content .strong {
	font-family: "Noto Sans CJK KR Black";
	color: #5cccae;
}
.inputset-complete a.a-button {
	display: inline-block;
	height: 46px;
	width: 130px;
	background-color: transparent;
	outline: none;
	border: 2px solid #5cccae;
	font-size: 1.2em;
	font-family: "Noto Sans CJK KR Black";
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: top;
	line-height: 42px;
	text-align: center;
}
.inputset-complete a.a-button:link,
.inputset-complete a.a-button:visited,
.inputset-complete a.a-button:hover {
	color: #333333;
	text-decoration: none;
	outline: none;
}
