article.bottom-headline-icon-background {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
article.bottom-headline-icon-background .header {
	position: absolute;
	z-index: 4;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: 6.5%;
}
article.bottom-headline-icon-background.fill .header {
	background: #3E454B;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
article.bottom-headline-icon-background .header h3 {
	font-weight: normal;
	font-size: 1.6em;
	line-height: 1.25em;
	text-align: center;
	margin: 0;
	padding: 0 10%;
}
article.bottom-headline-icon-background .header p {
	font-weight: normal;
	font-size: 1.15em;
	line-height: 1.14em;
	text-align: center;
	margin: 0;
	padding: 19px 0 0 0;
}
article.bottom-headline-icon-background .header h3 a,
article.bottom-headline-icon-background .header p a {
	color: #fff;
	text-decoration: none;
}
article.bottom-headline-icon-background .featured {
	position: relative;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
article.bottom-headline-icon-background .featured .jfe-featured-align,
article.bottom-headline-icon-background .featured img {
	position: absolute;
	z-index: 2;
	transition: transform 0.8s;
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	-ms-transition: -ms-transform 0.8s;
	-o-transition: -o-transform 0.8s;
}
article.bottom-headline-icon-background:hover .featured .jfe-featured-align,
article.bottom-headline-icon-background:hover .featured img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
article.bottom-headline-icon-background .featured a {
	text-decoration: none;
}
article.bottom-headline-icon-background .featured span {
	font-size: 40px;
	color: #73FFDA;
}
article.bottom-headline-icon-background .featured .overlay {
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(0,0,0,0) 45%, rgba(0,0,0,0.4) 46%), radial-gradient(rgba(0,0,0,0) 45%, rgba(0,0,0,0.4) 46%);
	margin: 0 auto;
	background-position: 0 0, 2px 2px;
	background-size:4px 4px, 4px 4px, 100%;
	background-repeat: repeat, repeat, no-repeat;
	-webkit-filter: grayscale(0.3);
	filter: url(#greyscale);
	filter: grayscale(0.3);
}
article.bottom-headline-icon-background .background {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}

@media (min-width: 480px) {
	article.bottom-headline-icon-background .featured span {
		font-size: 60px;
	}
	article.bottom-headline-icon-background .featured .overlay {
		display: none;
	}
	article.bottom-headline-icon-background .background {
		display: block;
	}
}
@media (min-width: 640px) {
	article.bottom-headline-icon-background .header h3 {
		font-size: 1.85em;
	}
	article.bottom-headline-icon-background .featured span {
		font-size: 80px;
	}
}

@media (min-width: 768px) {
}
