article.terms {
}

.terms-container {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 10%;
	font-size: 1.1em;
	line-height: 1.6em;
}
.terms-container h3 {
	font-size: 1.25em;
	margin-top: 15px;
	margin-bottom: 15px;
}
.terms-container h4 {
	font-size: 1.2em;
	margin-top: 15px;
	margin-bottom: 15px;
}
.terms-container p {
}
.terms-container h5 {
	margin-top: 10px;
}
.terms-container ol {
	margin: 10px 0 10px 30px;
	padding: 0;
}
.terms-container ul {
	margin: 10px 0 10px 10px;
	padding: 0;
	list-style: none;
}
