
.inputset-id-mode {
	height: 66px;
	margin-bottom: 10px !important;
}
.inputset-id-mode .radio-col {
	float: left;
	max-width: 140px;
	width: 50%;
	height: 60px;
	position: relative;
}
.inputset-id-mode input[type="radio"] {
	position: absolute;
	left: 50px;
	top: 10px;
	outline: none;
	z-index: -100;
}
.inputset-id-mode .radio-button {
	position: relative;
	border: 2px solid #73ffda;
	font-size: 1.2em;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: #ffffff;
}
.inputset-id-mode .radio-button.focused {
	border-color: #5cccae !important;
	color: #333333 !important;
}
.inputset-id-mode .radio-button:hover {
	border-color: #73ffda !important;
	color: #333333 !important;
}
.inputset-id-mode .radio-button.checked {
	background-color: #73ffda;
}
.inputset-id-mode .radio-col .radio-button span {
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 60px;
}
.inputset-id-mode .radio-col:first-child .radio-button {
	transform: skewY(6deg);
	-webkit-transform: skewY(6deg);
}
.inputset-id-mode .radio-col:first-child .radio-button span {
	transform: skewY(-6deg);
	-webkit-transform: skewY(-6deg);
}
.inputset-id-mode .radio-col:last-child .radio-button {
	transform: skewY(-6deg);
	-webkit-transform: skewY(-6deg);
}
.inputset-id-mode .radio-col:last-child .radio-button span {
	transform: skewY(6deg);
	-webkit-transform: skewY(z6deg);
}
