@charset "utf-8";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.noScroll {
	overflow-y: hidden;
}

/************************************************************************
 * site header
 ************************************************************************/
header#site-header {
	position: relative;
	z-index: 9999999;
	width: 100%;
	height: 51px;
	background: #fff;
	color: #3E454B;
	text-align: right;
	transition: top 0.6s linear;
	-webkit-transition: top 0.6s linear;
	-moz-transition: top 0.6s linear;
	-ms-transition: top 0.6s linear;
	-o-transition: top 0.6s linear;
}
header#site-header.fixed {
	position: fixed;
	z-index: 9999999;
	left: 0;
	top: 0;
	border-bottom: 1px solid #C9CACC;
	box-shadow: 0 2px 2px #C9CACC;
	transition: top 0.6s linear, opacity 0.6s linear;
	-webkit-transition: top 0.6s linear, opacity 0.6s linear;
	-moz-transition: top 0.6s linear, opacity 0.6s linear;
	-ms-transition: top 0.6s linear, opacity 0.6s linear;
	-o-transition: top 0.6s linear, opacity 0.6s linear;
	opacity: 0.95;
	-webkit-opacity: 0.95;
	-moz-opacity: 0.95;
	-ms-opacity: 0.95;
	-o-opacity: 0.95;
	filter: alpha(opacity=95);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
}
header#site-header.fixed.slideDown {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
header#site-header.fixed.slideUp {
	top: -42px;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
header#site-header.posUp {
	top: -55px;
}
header#site-header div.logo {
	float: left;
}
header#site-header div.logo a {
	display: inline-block;
	padding: 3px 0 0 16px;
	font-size: 2.25em;
	color: #3E454B;
	text-decoration: none;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-ms-transition: color 0.5s;
	-o-transition: color 0.5s;
}
header#site-header div.logo a:hover {
	color: #FF3300;
}
header#site-header div.logo a::before {
	font-family: "jfont";
	content: "\e628";
}
header#site-header div.logo a span {
	display: none;
}
header#site-header ul.quickLink,
header#site-header ul.menuLink {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
header#site-header.fixed ul.quickLink {
	display: none;
}
header#site-header ul.quickLink li,
header#site-header ul.menuLink li {
	display: inline-block;
	margin: 3px 3px 0 0;
	vertical-align: middle;
}
header#site-header ul.quickLink li a {
	font-size: 1.15em;
	color: #A8A8A8;
	line-height: 1.0em;
	letter-spacing: -0.05em;
	text-decoration: none;
}
header#site-header ul.menuLink li.menu {
	margin: 6px 8px 0 9px;
	text-align: center;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
}
header#site-header ul.menuLink li.menu a {
	display: inline-block;
	margin: 0;
	color: #3E454B;
	font-size: 2.55em;
	line-height: 1.0em;
	text-decoration: none;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-ms-transition: color 0.5s;
	-o-transition: color 0.5s;
}
header#site-header ul.menuLink li.menu a:hover {
	color: #FF3300;
}
#site-navigation {
	position: fixed;
	z-index: 9999997;
	right: 0;
	top: 0;
	width: 41.3%;
	height: 100%;
	text-align: right;
	transition: width 0.6s;
	-webkit-transition: width 0.6s;
	-moz-transition: width 0.6s;
	-ms-transition: width 0.6s;
	-o-transition: width 0.6s;
	overflow: hidden;
}
/* site-navigation */
#site-navigation.collapsed {
	width: 0;
}
#site-navigation.overflow {
	overflow-y: auto;
}
#site-navigation .navi-wrap {
	position: relative;
	z-index: 9999998;
	top: 0;
	left: 25.6%;
	width: 74.4%;
	height: 100%;
	background: #FFFAA8;
}
#site-navigation .navi-wrap .left {
	position: absolute;
	z-index: 9999999;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-top: 100px solid #FFFAA8;
	border-left: 0px solid transparent;
	transition: left 0.6s, border-left-width 0.6s;
	-webkit-transition: left 0.6s, border-left-width 0.6s;
	-moz-transition: left 0.6s, border-left-width 0.6s;
	-ms-transition: left 0.6s, border-left-width 0.6s;
	-o-transition: left 0.6s, border-left-width 0.6s;
}
#site-navigation .navi-wrap .menu-close {
	position: absolute;
	z-index: 99999999;
	top: 6px;
	right: 8px;
	border: 0;
	margin: 0;
	padding: 0;
	color: #3E454B;
	font-size: 2.55em;
	line-height: 1.0em;
	height: 36px;
	cursor: pointer;
	background: none;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-ms-transition: color 0.5s;
	-o-transition: color 0.5s;
}   
#site-navigation .navi-wrap .menu-close:hover {
	color: #FF3300;
	border: 0;
	border-shadow: none;
	background: none;
}
#site-navigation .navi-wrap .navi-content {
	position: absolute;
	left: 68px;
	top: 54px;
	margin: 0;
	padding: 0;
	text-align: center;
}
#site-navigation .navi-wrap .navi-menu {
	margin: 0;
	padding: 0;
}
#site-navigation .navi-wrap .navi-menu dt {
	margin: 0;
	padding: 0 0 30px 0;
}
#site-navigation .navi-wrap .navi-menu dt a {
	color: #3E454B;
	font-size: 9.25em;
	text-decoration: none;
}
#site-navigation .navi-wrap .navi-menu dd {
	margin: 0;
	padding: 0 0 23px 0;
	text-align: center;
}
#site-navigation .navi-wrap .navi-menu dd a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	line-height: 1;
	width: 124px;
	height: 33px;
}
#site-navigation .navi-wrap .navi-menu dd a span {
	display: none;
}
#site-navigation .navi-wrap .navi-menu dd a::before,
#site-navigation .navi-wrap .navi-menu dd a::after {
	content: ' ';
	position: absolute;
	z-index: 10000000;
	top: 0;
	left: 0;
	width: 124px;
	height: 33px;
	overflow: hidden;
	background-image: url('../../../themes/black.cover/images/menu-items-clip.png');
	background-size: 258px 213px;
	background-repeat: no-repeat;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-transition: color 0.5s, -webkit-transform 0.5s;
	-moz-transition: color 0.5s, -webkit-transform 0.5s;
	-ms-transition: color 0.5s, -webkit-transform 0.5s;
	-o-transition: color 0.5s, -webkit-transform 0.5s;
	transition: color 0.5s, transform 0.5s;
}
.svg #site-navigation .navi-wrap .navi-menu dd a::before,
.svg #site-navigation .navi-wrap .navi-menu dd a::after {
	background-image: url('../../../themes/black.cover/images/menu-items.svg');
}
#site-navigation .navi-wrap .navi-menu dd.home a::before {
	background-position: -134px 0px;
}
#site-navigation .navi-wrap .navi-menu dd.about a::before {
	background-position: -134px -60px;
}
#site-navigation .navi-wrap .navi-menu dd.support a::before {
	background-position: -134px -120px;
}
#site-navigation .navi-wrap .navi-menu dd.sitemap a::before {
	background-position: -134px -180px;
}
#site-navigation .navi-wrap .navi-menu dd.home a::after {
	background-position: 0px 0px;
}
#site-navigation .navi-wrap .navi-menu dd.about a::after {
	background-position: 0px -60px;
}
#site-navigation .navi-wrap .navi-menu dd.support a::after {
	background-position: 0px -120px;
}
#site-navigation .navi-wrap .navi-menu dd.sitemap a::after {
	background-position: 0px -180px;
}
#site-navigation .navi-wrap .navi-menu dd a:hover::before {
	-webkit-transform: translate3d(4px,1px,0);
	-moz-transform: translate3d(4px,1px,0);
	-ms-transform: translate3d(4px,1px,0);
	-o-transform: translate3d(4px,1px,0);
	transform: translate3d(4px,1px,0);
}
#site-navigation .navi-wrap .navi-menu dd a:hover::after {
	-webkit-transform: translate3d(-4px,-1px,0);
	-moz-transform: translate3d(-4px,-1px,0);
	-ms-transform: translate3d(-4px,-1px,0);
	-o-transform: translate3d(-4px,-1px,0);
	transform: translate3d(-4px,-1px,0);
}
#site-navigation .navi-wrap ul.site-share {
	display: inline-block;
	margin: 46px 0 0 0;
	padding: 0;
	list-style: none;
}
#site-navigation .navi-wrap ul.site-share li {
	display: inline-block;
	padding-right: 12px;
}
#site-navigation .navi-wrap ul.site-share li a {
	color: #3E454B;
	text-decoration: none;
}
#site-navigation .navi-wrap ul.site-share li a span {
	display: none;
}
#site-navigation .navi-wrap ul.site-share li a::before {
	font-family: 'FontAwesome';
	font-size: 1.65em;
}
#site-navigation .navi-wrap ul.site-share li.twitter a::before {
	content: "\f099";	
}
#site-navigation .navi-wrap ul.site-share li.twitter a:hover::before {
	color: #28A9E0;
}
#site-navigation .navi-wrap ul.site-share li.facebook a::before {
	content: "\f09a";
}
#site-navigation .navi-wrap ul.site-share li.facebook a:hover::before {
	color: #3B5998;
}
#site-navigation .navi-wrap ul.site-share li.github a::before {
	content: "\f113";
}
#site-navigation .navi-wrap ul.site-share li.github a:hover::before {
	color: #3B5998;
}
#site-navigation .navi-wrap ul.site-share li.vimeo {
	padding: 0;
}
#site-navigation .navi-wrap ul.site-share li.vimeo a::before {
	content: "\f194";
}
#site-navigation .navi-wrap ul.site-share li.vimeo a:hover::before {
	color: #44BBFF;
}

/************************************************************************
 * site main
 ************************************************************************/
#site-main-container {
	width: 100%;
}

/************************************************************************
 * site footer
 ************************************************************************/
footer#site-footer {
	position: relative;
	z-index: 100;
}
footer#site-footer .before {
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-bottom: 100px solid #fff;
	border-left: 100px solid transparent;
}
footer#site-footer .greencover {
	position: absolute;
	z-index: 101;
	left: 0;
	top: 0;
	width: 40%;
	height: 100%;
	background: #73FFDA;
}
footer#site-footer .greencover .inner {
	position: relative;
	z-index: 101;
}
footer#site-footer .greencover .inner .top {
	position: absolute;
	z-index: 101;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-bottom: 100px solid #73FFDA;
	border-left: 100px solid transparent;
}
footer#site-footer .greencover .inner .right {
	position: absolute;
	z-index: 101;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border-bottom: 100px solid #73FFDA;
	border-right: 100px solid transparent;
}

footer#site-footer .max-container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 5%;
	*zoom: 1;
}
footer#site-footer .max-container:after {
	clear: both;
	content: ' ';
	display: block;
}
footer#site-footer #site-footer-content {
	position: relative;
	z-index: 1000;
	font-family: "Noto Sans CJK KR Thin";
}
footer#site-footer #site-footer-content .max-container {
	padding-top: 3%;
	padding-bottom: 4%;
}
footer#site-footer #site-footer-content .jinbonet-site-map dl {
	float: left;
	width: 23%;
	margin: 0;
	padding: 0;
}
footer#site-footer #site-footer-content .jinbonet-site-map dl dt {
	margin: 0;
	padding: 0;
	display: none;
}
footer#site-footer #site-footer-content .jinbonet-site-map dl dd {
	margin: 0;
	padding: 0;
}
footer#site-footer #site-footer-content .jinbonet-site-map dl dd ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
footer#site-footer #site-footer-content dl.site-share {
	width: 31%;
}
footer#site-footer #site-footer-content dl.site-share a {
	color: #333;
	text-decoration: none;
}
footer#site-footer #site-footer-content dl.site-share dt {
	display: block !important;
	font-family: "Noto Sans CJK KR Black";
	font-size: 1.85em;
	vertical-align: top;
}
footer#site-footer #site-footer-content dl.site-share dt i.j-logos-jinbonet {
	font-weight: normal;
	font-size: 1.1em;
	padding: 1px 11px 0 0;
}
footer#site-footer #site-footer-content dl.site-share dd {
	margin-top: 9px;
	padding: 0;
}
footer#site-footer #site-footer-content dl.site-share ul li {
	display: inline-block;
	padding-right: 15px;
}
footer#site-footer #site-footer-content dl.site-share ul li.twitter a::before {
	font-family: 'FontAwesome';
	font-size: 1.65em;
	content: "\f099";	
}
footer#site-footer #site-footer-content dl.site-share ul li.twitter a:hover::before {
	color: #28A9E0;
}
footer#site-footer #site-footer-content dl.site-share ul li.twitter a span {
	display: none;
}
footer#site-footer #site-footer-content .site-share ul li.facebook a::before {
	font-family: 'FontAwesome';
	font-size: 1.45em;
	content: "\f09a";
}
footer#site-footer #site-footer-content dl.site-share ul li.facebook a:hover::before {
	color: #3B5998;
}
footer#site-footer #site-footer-content dl.site-share ul li.facebook a span {
	display: none;
}
footer#site-footer #site-footer-content dl.site-share ul li.github a::before {
	font-family: 'FontAwesome';
	font-size: 1.65em;
	content: "\f113";
}
footer#site-footer #site-footer-content dl.site-share ul li.github a span {
	display: none;
}
footer#site-footer #site-footer-content dl.site-share ul li.support a {
	font-size: 1.25em;
}
footer#site-footer #site-footer-content dl.site-share ul li.support a:after {
	font-family: 'FontAwesome';
	content: "\f08a";
}
footer#site-footer #site-footer-content dl.jinbonet-team,
footer#site-footer #site-footer-content dl.jinbonet-sites,
footer#site-footer #site-footer-content dl.jinbonet-service {
	font-size: 1.25em;
}
footer#site-footer #site-footer-content dl.jinbonet-team dd,
footer#site-footer #site-footer-content dl.jinbonet-sites dd,
footer#site-footer #site-footer-content dl.jinbonet-service dd {
	padding: 0 8%;
}
footer#site-footer #site-footer-content dl.jinbonet-team ul li a,
footer#site-footer #site-footer-content dl.jinbonet-sites ul li a,
footer#site-footer #site-footer-content dl.jinbonet-service ul li a {
	color: #666;
	text-decoration: none;
}

footer#site-footer #site-footer-footer {
	position: relative;
	z-index: 1001;
	color: #fff;
}
footer#site-footer #site-footer-footer .background {
	position: absolute;
	z-index: 1001;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #8B8F93;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
footer#site-footer #site-footer-footer .max-container {
	position: relative;
	z-index: 1003;
	padding-top: 36px;
	padding-bottom: 32px;
}
footer#site-footer #site-footer-footer .contact {
	float: left;
	font-family: "Noto Sans CJK KR Thin";
	font-size: 1.15em;
}
footer#site-footer #site-footer-footer .license {
	float: right;
	font-size: 1.2em;
}
body>svg#SvgjsSvg1000 {
	display: none;
}

@media all and (max-width:768px) {
	footer#site-footer #site-footer-content dl.site-share dt {
		padding: 0 20px;
	}
	footer#site-footer #site-footer-content dl.site-share dd {
		padding: 0 20px;
	}
	footer#site-footer #site-footer-content dl {
		width: 33.3%;
	}
	footer#site-footer #site-footer-content dl.site-share {
		width: 100%;
		padding-bottom: 15px;
		border-bottom: 1px dotted #666;
		margin-bottom: 15px;
	}
}
@media all and (max-width:480px) {
	#site-navigation .navi-wrap .navi-menu dd {
		padding: 0 0 15px 0;
	}
	#site-navigation .navi-wrap .navi-menu dd a {
		width: 76px;
		height: 21px;
	}
	#site-navigation .navi-wrap .navi-menu dd a::before,
	#site-navigation .navi-wrap .navi-menu dd a::after {
		width: 76px;
		height: 21px;
		background-size: 158px 130px;
	}
	#site-navigation .navi-wrap .navi-menu dd.home a::before {
		background-position: -82px 0px;
	}
	#site-navigation .navi-wrap .navi-menu dd.about a::before {
		background-position: -82px -36px;
	}
	#site-navigation .navi-wrap .navi-menu dd.support a::before {
		background-position: -82px -73px;
	}
	#site-navigation .navi-wrap .navi-menu dd.sitemap a::before {
		background-position: -82px -109px;
	}
	#site-navigation .navi-wrap .navi-menu dd.home a::after {
		background-position: 0px 0px;
	}
	#site-navigation .navi-wrap .navi-menu dd.about a::after {
		background-position: 0px -36px;
	}
	#site-navigation .navi-wrap .navi-menu dd.support a::after {
		background-position: 0px -73px;
	}
	#site-navigation .navi-wrap .navi-menu dd.sitemap a::after {
		background-position: 0px -109px;
	}
	footer#site-footer #site-footer-content dl {
		width: 100%;
		padding-bottom: 15px;
		border-bottom: 1px dotted #666;
		margin-bottom: 15px;
	}
	footer#site-footer #site-footer-content dl.jinbonet-service {
		border: 0;
		margin-bottom: 0;
	}
}
@media all and (max-height: 640px) {
	#site-navigation .navi-wrap .navi-menu dt {
		padding: 0;
	}
	#site-navigation .navi-wrap .navi-menu dt a {
		font-size: 5em;
	}
	#site-navigation .navi-wrap .navi-menu dd a {
		font-size: 2.0em;
	}
	#site-navigation .navi-wrap ul.site-share {
		margin: 20px 0 0 0;
	}
}
@media all and (max-height: 480px) {
	#site-navigation .navi-wrap .navi-content {
		top: 30px;
	}
}
