@charset "utf8";

article.featured-link-headline {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-decoration: none;
}
article.featured-link-headline .header {
	position: relative;
	z-index: 1;
	padding: 50px;
}
article.featured-link-headline .header a {
	text-decoration: none;
}
article.featured-link-headline .header h3 {
	font-weight: normal;
	font-size: 1.85em;
	line-height: 1.25em;
	margin: 0;
	padding: 0;
}
article.featured-link-headline .header p {
	font-weight: normal;
	font-size: 1.15em;
	line-height: 1.14em;
	margin: 0;
	padding: 19px 0 0 0;
}
article.featured-link-headline .featured {
	position: relative;
	z-index: 1;
	width: 100%;
	overflow: hidden;
}
article.featured-link-headline .featured .jfe-featured-align,
article.featured-link-headline .featured img {
	position: absolute;
	z-index: 1;
	transition: transform 0.8s;
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	-ms-transition: -ms-transform 0.8s;
	-o-transition: -o-transform 0.8s;
}
article.featured-link-headline.hover .featured .jfe-featured-align,
article.featured-link-headline.hover .featured img,
article.featured-link-headline:hover .featured .jfe-featured-align,
article.featured-link-headline:hover .featured img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
article.featured-link-headline .header .link {
	position: absolute;
	z-index: 4;
	left: 0;
	top: -50%;
	padding-bottom: 50px;
	width: 100%;
	text-align: center;
	font-family: inherit;
}
article.featured-link-headline .header .link ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
