.inputset-bank ul.bank-list {
	height: 0px;
	list-style-type: none;
	font-size: 1.2em;
	border-left: 2px solid #5cccae;
	border-right: 2px solid #5cccae;
	overflow-y:scroll;
	transition: height 0.2s;
	-webkit-transition: height 0.2s;
}
.inputset-bank ul.bank-list.show {
	height: 300px;
	border-bottom: 2px solid #5cccae;

}
.inputset-bank ul.bank-list li {
	padding: 2px 0px 2px 5px;
	cursor: pointer;
}
.inputset-bank ul.bank-list li:hover {
	background-color: #73ffda;
}
