@charset=utf8;

.member-slider .indicator-wrapper {
	position: relative;
	z-index: 1;
	margin: 0 10%;
}
.member-slider .slider-indicator {
	padding: 0;
	border-bottom: 1px dotted #fff;
}
.member-slider .slider-indicator ul {
	list-style: none;
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	height: 30px;
	vertical-align: bottom;
}
.member-slider .slider-indicator ul li {
	float: left;
	width: 33.3%;
	height: 100%;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.member-slider .slider-indicator ul li span {
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	opacity: 0.7;
}
.member-slider .slider-indicator ul li.swiper-slide-prev {
	text-align: left;
}
.member-slider .slider-indicator ul li.swiper-slide-active span {
	font-size: 1.3em;;
	opacity: 1;
}
.member-slider .slider-indicator ul li.swiper-slide-next {
	text-align: right;
}
.member-slider .indicator-wrapper .cursor {
	position: absolute;
	z-index: 1;
	bottom: -3px;
	left: 33.3%;
	width: 33.3%;
	height: 5px;
	background: #fff;
}

.member-slider .swiper-container article {
	padding: 58px 10% 0 10%;
	border: 0;
	background: none;
}
.member-slider .swiper-container article p {
	padding: 0 15%;
}
.memeber-slider-content .portrait {
	text-align: center;
}
.memeber-slider-content h3 {
	display: none;
}
.memeber-slider-content h4 {
	text-align: center;
	font-size: 1.25em;
	letter-spacing: -0.05em;
	padding-top: 15px;
	padding-bottom: 15px;
}
