.inputset-phone input[type="checkbox"]{
	position: fixed;
	width: 0;
	height: 0;
	left: -100px;
	top: -100px;
}
.inputset-phone div.check-wrap {
	display: inline;
	position: relative;
	margin-left: 5px;
}
.inputset-phone div.checkbox {
	display: inline;
	position: absolute;
	font-size: 1.7em;
	margin: 0;
}
.inputset-phone div.checkbox label {
	display: inline;
	padding-left: 0px;
	min-height: 0px
}
.inputset-phone label.label {
	display: inline;
	margin-left: 25px;
	margin-bottom: 0;
	line-height: 15px;
}
